@import url('https://fonts.googleapis.com/css?family=Gotu:700|Noto%20Serif%20Yezidi:400');

:root {
	--text: #13100e;
	--background: #fff6e8;
	--primary: #967e6f;
	--secondary: #c4c6b1;
	--accent: #a9b194;

	--border-radius: .5rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Gotu';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

body {
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
	font-family: 'Noto Serif Yezidi';
	font-weight: 400;
	color: var(--text);
	background: var(--background);

	header {
		& > menu.formatting--container {
			list-style: none;
			display: flex;
			margin: 0 0 .5rem;
			gap: 1rem;
			padding: .25rem 1rem;
			border: 1px solid var(--accent);
			border-radius: var(--border-radius);
			width: fit-content;
			box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);

			& li {
				& button {
					background: none;
					border: none;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: .25rem;
					width: 2rem;
					height: 2rem;

					& > svg {
						height: 22px;
						width: auto;
						fill: var(--text);
					}

					&:hover {
						background: rgba(145, 130, 106, .2);
						border-radius: var(--border-radius);
					}
				}
			}
		}
	}

	& main {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 1rem;


		& div#editor {
			border: 1px solid gray;
			height: 100%;
			border-radius: var(--border-radius);
			font-family: inherit;

			& .generation {
				background: #efefef;
			}
		}

		& div#generations {
			border: 1px solid blue;
			border-radius: var(--border-radius);
		}
	}
}
